body {
    background-color: lightgray;
}
h1 {
    font-variant: small-caps;
    font-size: 3em;
    color: #111111;
    text-align: center;
    padding-top: 2rem;
}
#addButton {
    width: 100%;
    font-size: 3em;
    color: #111111;
    text-align: center;
    margin: 1rem 0;
    padding: 1rem;
    background-color: gray
}
#addButton:active {
    background-color: darkgrey;
}
.note{
    background-color: whitesmoke;
    width: 90%;
    font-size: 2em;
    margin: .5rem auto;
    padding: 1rem;
    border-radius: 1rem;
}
.note>textarea {
    width: 100%;
    resize: none;
}
.note>button {
    background-color: gainsboro;
    width: 10%;
}